<mat-card class="example-card margin-1rem">
  <div *ngIf="isGraphError; else dispGraph">
    <mat-card-title>Covid-19 Cases in India</mat-card-title>
    <p class="dispError">Something went wrong, please try again later</p>
  </div>
  <ng-template #dispGraph>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Covid-19 Cases in India</mat-card-title>
      <!-- <mat-card-actions class="actionBtn">
          <button mat-raised-button color="primary"  (click)="last15Days($event)">last 15 days</button>
        </mat-card-actions> -->
      <mat-card-subtitle class="headerBtn">
        <mat-card-actions class="actionBtn">
          <button
            mat-raised-button
            color="primary"
            (click)="last15Days($event)"
            class="btn"
          >
            last 15 days
          </button>
        </mat-card-actions>
      </mat-card-subtitle>

      <!-- <div>
        <mat-card-actions>
          <button mat-button>Confirmed</button></mat-card-actions>
      </div> -->
    </mat-card-header>
    <div *ngIf="data.length === 0; else showGraph" class="textCenter">
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #showGraph class="graphId1">
      <google-chart
        [title]="title"
        [type]="type"
        [data]="data"
        [options]="options"
        [width]="width"
        [height]="height"
      >
      </google-chart>
    </ng-template>
    <!-- <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content> -->
    <mat-card-actions class="display-flex">
      <button
        mat-stroked-button
        (click)="onClickConfimButton($event)"
        class="btn"
        color="primary"
      >
        Confirmed
      </button>
      <button
        mat-stroked-button
        (click)="onClickRecoveredButton($event)"
        class="btn"
        color="primary"
      >
        Recovered
      </button>
      <button
        mat-stroked-button
        (click)="onClickDeceasedButton($event)"
        class="btn"
        color="primary"
      >
        Deceased
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>

<!-- <div id="graphId">
    <google-chart [title]="title" [type]="type" [data]="data" [options]="options" [width]="width" [height]="height">
    </google-chart>
</div> -->

<mat-card class="example-card margin-1rem">
  <div *ngIf="isStateGraphError; else dispStateGraph">
    <mat-card-title>Covid-19 Cases in India</mat-card-title>
    <p class="dispError">Something went wrong, please try again later</p>
  </div>
  <ng-template #dispStateGraph>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Covid-19 Cases in India</mat-card-title>
      <mat-card-subtitle>
        <mat-card-actions>
          <form class="example-form">
            <mat-form-field class="example-full-width padding-sides-1rem">
              <input
                type="text"
                placeholder="Select State"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                  (onSelectionChange)="onStateChange($event)"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </mat-card-actions>
      </mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="stateData.length === 0; else showStateGraph" class="textCenter">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template class="graphId2" #showStateGraph>
      <google-chart
        [title]="stateTitle"
        [type]="stateType"
        [data]="stateData"
        [options]="stateoptions"
        [width]="width"
        [height]="height"
      >
      </google-chart>
    </ng-template>
  </ng-template>
</mat-card>
