<mat-card class="example-card">
  <div *ngIf="isGraphError; else dispGraph">
    <mat-card-title>Covid-19 Cases in India</mat-card-title>
    <p class="dispError">Something went wrong, please try again later</p>
  </div>
  <ng-template #dispGraph>
    <mat-card-header>
      <mat-card-title>Covid-19 Cases in India</mat-card-title>
    </mat-card-header>
    <div *ngIf="data.length === 0; else showGraph" class="textCenter">
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #showGraph>
      <div class="graphId1">
        <google-chart
          [title]="title"
          [type]="type"
          [data]="data"
          [options]="options"
          [width]="width"
          [height]="height"
        >
        </google-chart>
      </div>
    </ng-template>

    <mat-card-actions class="display-flex spaceBetween">
      <mat-form-field appearance="outline">
        <mat-label>Select an Attribute</mat-label>
        <mat-select
          matNativeControl
          (valueChange)="onOptionSelect($event)"
          [value]="'confirmData Confirm Cases'"
        >
          <mat-option value="confirmData Confirm Cases" selected
            >Confirm Cases</mat-option
          >
          <mat-option value="recoveredData Recovered Cases"
            >Recovered Cases</mat-option
          >
          <mat-option value="deceasedData Deceased Cases"
            >Deceased Cases</mat-option
          >
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="last15Days($event)"
        class="btn"
      >
        last 15 days
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>

<mat-card class="example-card margin-top-10px">
  <div *ngIf="isStateGraphError; else dispStateGraph">
    <mat-card-title>Covid-19 Cases in India</mat-card-title>
    <p class="dispError">Something went wrong, please try again later</p>
  </div>
  <ng-template #dispStateGraph>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Covid-19 Cases in India</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-form-field class="example-full-width padding-sides-1rem">
        <input
          type="text"
          placeholder="Select State"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onStateChange($event)"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div *ngIf="stateData.length === 0; else showStateGraph" class="textCenter">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #showStateGraph>
      <div class="graphId2">
        <google-chart
          [title]="stateTitle"
          [type]="stateType"
          [data]="stateData"
          [options]="stateoptions"
          [width]="width"
          [height]="height"
        >
        </google-chart>
      </div>
    </ng-template>
  </ng-template>
</mat-card>
