table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.deltaValue{
  color: red;
  display: flex;
  font-size: 12px;
  padding: 0em;
  margin: 0em;
}

// .tableBtn{
//   //height: 2rem;
// }
// .tableRows{

// }

.reduceMargin{
  padding: 0;
  font-size: 7px;
  margin: 0;
}
.marginRight{
  margin-left: auto;
}
.columHeader{
  //text-align: center;
  padding-left: 5px
}
.iconId{
  //font-size: 30px;
  transform: scale(0.60);
}

:host ::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

.mat-list-item{
  font-size: 13px;
}

.display-flex{
  display: flex;
}

.menuBtn {
  max-height: 2rem;
}
.mobileView {
  font-size: 15px;
}
@media (max-width: 768px) {
  .mobileView{
    font-size: 9px;
  }
  .deltaValue{
    color: red;
    display: flex;
    font-size: 7px;
    padding: 0em;
    margin: 0em;
  }
  .tableBtn{
    font-size: 10px;
    width: fit-content;
    height: 2rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  .icon-display {
    transform: scale(0.7);
 }
}